<style>

        .chart div {
          font: 10px sans-serif;
          background-color: steelblue;
          text-align: right;
          padding: 3px;
          margin: 1px;
          color: white;
        }

        .bar {
            height: 25px;
            margin: 5px;
            background-color: aquamarine;
        }
        
</style>
<div class="row">
    <p>literacy-chart works!</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="chart">

        </div>
    </div>
</div>
