.row {
    .col-sm-12 {
        .chart {
          .bar{
            font: 10px sans-serif;
            background-color: steelblue;
            text-align: right;
            padding: 3px;
            margin: 1px;
            color: white;
          }
        }
    }
}